[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Phil Pursglove
	email = philpursglove@users.noreply.github.com
[help]
	autocorrect = 1
[merge]
	conflictstyle = diff3
[alias]
	logadog = log --all --decorate --oneline --graph
	pushup = push -u origin
[http]
	sslbackend = schannel
[push]
	default = current
